# local env files
#.env.local
/dist
.env.*.local
*.env
!.env

# npm
/node_modules
package-lock.json
*.log
*.gz

# testing
/coverage

# production
/build

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Coveralls
coverage

# Benchmarking
benchmarks/graphs

private.key
private.pem
public.key
public.pem